
@{
    ViewBag.Title = "Dashboard";
}

<h2>Welcome to my book store</h2>
<p>There are various types of books available in this store.</p>
<h2>Some of the lists of the books available in this store are:</h2>
<table border="1" solid black>
    <tr>
        <th>sociology</th>
        <th>general knowledge</th>
        <th>biology</th>
        <th>physics</th>
    </tr>
    <tr>
        <td>social lifes</td>
        <td>extra skills and news</td>
        <td>biological life</td>
        <td>force and derivations</td>
</table>
<body>
    <h2>Sociology</h2>
    <p1>Sociology is the study of social life, social change, and the social causes and consequences of human behavior. Sociologists investigate the structure of groups, organizations, and societies, and how people interact within these contexts.</p1>
    <img src="~/images/sociology.jpg" />
    <h2>General knowledge</h2>
    <p2>General knowledge is information that has been accumulated over time through various mediums. It excludes specialized learning that can only be obtained with extensive training and information confined to a single medium. </p2>
    <img src="~/images/general knowledge.jpg" />
    <h2>Biology</h2>
    <p2>Biology is the natural science that studies life and living organisms, including their physical structure, chemical processes, molecular interactions, physiological mechanisms, development and evolution.</p2>
    <img src="~/images/biology.jpg" />
    <h2>Physics</h2>
    <p4>Physics is the natural science that studies matter, its motion and behavior through space and time, and the related entities of energy and force. Physics is one of the most fundamental scientific disciplines, and its main goal is to understand how the universe behaves.</p4>
    <img src="~/images/physics.jpg" />
</body>