
@model Bishwas_book_store.user_table
@{
    ViewBag.Title = "Index";
}

<h2>welcome to admin login page page</h2>
<table>
    @Html.BeginForm("Index", "Admin", FormMethod.Post);
    <tr>
        <td>User Name:</td>
        <td>@Html.TextBoxFor(a => a.user_name)</td>
    </tr>
    <tr>
        <td>password:</td>
        <td>@Html.PasswordFor(a => a.user_password)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="login" /></td>
    </tr>
    <tr>
        <td colspan="2">@ViewBag.msg</td>
    </tr>

</table>
